:root {
  --titles-color: #212121;
  --light-titles-color: #ffffff;
  --text-color: #757575;
  --input-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --logo-color: #000000;
  --basement-logo-color: #ffffff;
  --basement-contacts-color: rgba(255, 255, 255, 0.6);

  --first-bcg-color: #ffffff;
  --sec-bcg-color: #2f303a;
  --third-bcg-color: #f5f4fa;
  --hero-bcg-color: #c4c4c4;

  --first-font-btn-color: #ffffff;
  --sec-font-btn-color: #212121;
  --first-bcg-btn-color: #2196f3;
  --sec-bcg-btn-color: #188ce8;

  --link-color: #afb1b8;

  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --border-color: rgba(255, 255, 255, 0.3);
  --sec-border-color: rgba(33, 33, 33, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  padding: 0;
  list-style: none;
  margin: 0;
}

/* Ховаємо заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*----------STUDIO PAGE-----------*/
.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.section {
  padding: 94px 0;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*----------HEADER-----------*/
.header {
  background-color: var(--first-bcg-color);
  border-bottom: 1px solid #ececec;
}

.box {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-text {
  color: var(--accent-color);
}

.header-logo {
  margin-right: 93px;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-main);
}

.header-link.current::after {
  content: "";
  position: absolute;
  transform: translateY(1px);
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-item .header-link.current {
  color: var(--accent-color);
}

.contacts-list,
.header-list {
  gap: 50px;
}

.contacts-list {
  margin-left: auto;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-main);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/*----------HERO-----------*/
.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bcg-color);
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-titles-color);
}

.hero-btn {
  display: block;
  min-width: 221px;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--first-font-btn-color);
  background-color: var(--first-bcg-btn-color);
  cursor: pointer;
  transition: color var(--transition-main),
    background-color var(--transition-main);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--sec-bcg-btn-color);
  color: var(--first-font-btn-color);
}

/*----------FEATURES-----------*/
.pb-none {
  padding-bottom: 0;
}

.features-overtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-bcg-color);
  border-radius: 4px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color);
}

.features-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*----------ACTIVITY------------*/
.activity {
  background-color: var(--first-bcg-color);
  text-align: center;
}

.activity-list {
  display: flex;
  gap: 30px;
}

.activity-item {
  position: relative;
}

.activity-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*----------OUR TEAM-----------*/
.team {
  background-color: var(--third-bcg-color);
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: 270px;
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--first-bcg-color);
}

.team-thumb {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--text-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill var(--transition-main),
    background-color var(--transition-main);
}

.team-social-icon {
  fill: var(--link-color);
  transition: fill var(--transition-main);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
}

.team-link:hover .team-social-icon,
.team-link:focus .team-social-icon {
  fill: var(--light-titles-color);
}

/*----------CLIENTS------------*/
.clients {
  background-color: var(--first-bcg-color);
  text-align: center;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  transition: border-color var(--transition-main);
}

.clients-icon {
  fill: var(--link-color);
  transition: fill var(--transition-main);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

/*----------BASEMENT------------*/
.basement {
  background-color: var(--sec-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner.box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.basement-block {
  display: inline-block;
}

.basement-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basement-logo-color);
}

.logo-text {
  color: var(--accent-color);
}

.basement-address {
  font-style: normal;
}

.basement-text {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-titles-color);
}

.basement-list>.basement-item:not(:last-child) {
  margin-bottom: 9px;
}

.basement-contacts {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basement-contacts-color);
  transition: color var(--transition-main);
}

.basement-contacts:hover,
.basement-contacts:focus {
  color: var(--accent-color);
}

.basement-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
  color: var(--light-titles-color);
}

.basement-social-list {
  display: flex;
  gap: 10px;
}

.basement-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-main);
}

.basement-social-icon {
  fill: var(--light-titles-color);
}

.basement-social-link:hover,
.basement-social-link:focus {
  background-color: var(--accent-color);
}

/* ---------BASEMENT FORM --------- */
.footer-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-titles-color);
}

.footer-input-wrap {
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  transition: border var(--transition-main);
  outline: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: transparent;
}

.footer-form-input:hover,
.footer-form-input:focus {
  border: 2px solid var(--border-color);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;
  transition: background-color var(--transition-main),
    box-shadow var(--transition-main);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  cursor: pointer;
  color: var(--light-titles-color);
  background-color: var(--first-bcg-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  box-shadow: none;
  background-color: var(--sec-bcg-btn-color);
}

.footer-btn-icon {
  margin-left: 10px;
}

/*----------PORTFOLIO PAGE-----------*/
/*----------EXAMPLES------------*/
.works-buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.works-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--third-bcg-color);
  color: var(--titles-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-main),
    background-color var(--transition-main), box-shadow var(--transition-main);
}

.works-btn:hover,
.works-btn:focus {
  color: var(--first-font-btn-color);
  background-color: var(--first-bcg-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-item {
  width: 370px;
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

.works-hover-text {
  position: absolute;
  overflow: auto;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-main);
}

.works-thumb {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.works-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--titles-color);
}

.works-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.works-item-link {
  display: block;
  transition: box-shadow var(--transition-main);
}

.works-item-link:hover .works-hover-text,
.works-item-link:focus .works-hover-text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(-100%);
}

.works-item-link:hover,
.works-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* --------------MODAL------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: transform var(--transition-main), opacity var(--transition-main);
}

.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  transform: rotate(0deg);
  transition: transform var(--transition-main), fill var(--transition-main);
  width: 30px;
  height: 30px;
  background-color: var(--first-bcg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
  transform: rotate(45deg);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-font-btn-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-label:not(:first-child) {
  margin-top: 10px;
}

.form-field {
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding: 0 40px 0 42px;

  border: 1px solid var(--sec-border-color);
  border-radius: 4px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-main);
}

.modal-input:focus,
.modal-text:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus+.input-icon {
  fill: var(--accent-color);
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: transparent;
  resize: none;
  border: 1px solid var(--sec-border-color);
  border-radius: 4px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-label span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  padding-top: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: border var(--transition-main),
    background-color var(--transition-main),
    box-shadow var(--transition-main);
}


.checkbox:checked+.checkbox-label span {
  border: none;
  background-color: var(--accent-color);
  box-shadow: none;

}

.checkbox-label span:hover,
.checkbox:focus+.checkbox-label span {
  border: 2px solid var(--accent-color);
}

.checkbox:checked+.checkbox-label .checkbox-icon {
  fill: var(--light-titles-color);
}

.checkbox-icon {
  fill: transparent;
  transition: fill var(--transition-main);
}

.checkbox-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}


.submit-btn {
  display: block;
  padding: 10px 52px;
  margin: 30px auto 0 auto;
  transition: background-color var(--transition-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--first-bcg-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--light-titles-color);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--sec-bcg-btn-color);
}